.header-layout {
  width: 100%;
  background-color: #557D1D;
  height: 100px;
  padding: 10px;
}


@media (max-width: 500px) {
  .header-layout {
    height: 144px;
  }
  .header-layout, h2 {
    padding: 10px;
  }
}

.phone-contact {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 19px;
}

.phone-contact:hover{
  color: white;
}